# =============================================
# EU Bank System - Environment Configuration
# =============================================

# --- PostgreSQL (Database Container) ---
POSTGRES_DB=bankdb
POSTGRES_USER=admin
POSTGRES_PASSWORD=secret #change
DB_HOST_PORT=5433

# --- Backend (Spring Boot) ---
# JDBC URL pointing to the db container (hostname = service name in docker-compose)
DB_URL=jdbc:postgresql://db:5432/bankdb
DB_USER=admin
DB_PASSWORD=secret #change
BACKEND_PORT=8080

# --- External Card Network --
CARD_NETWORK_BASE_URL=http://host.docker.internal:8072
CARD_NETWORK_API_KEY=bank-key-eu-a
CARD_NETWORK_HMAC_SECRET=secret-eu-a-hmac

# --- Payments Simulator ---
BANK_BIC=BANKDEXX
BANK_NAME="Deutsche Bank"
TARGET_URL=http://host.docker.internal:8001
SEPA_BATCH_URL=http://host.docker.internal:8002
SEPA_INSTANT_URL=http://host.docker.internal:8003

# --- Frontend ---
FRONTEND_PORT=3000
